body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.container {
  width: 90%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

.header {
  background-color: #023e8a;
  color: #fff;
  padding: 5px 0;
}

.mapContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: gray;
}

.marker-icon {
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
}
.marker-icon:hover {
  filter: brightness(0.5);
}

.marker-popup-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 200px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 30px;
}
